In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [36]:
mydata=pd.read_excel("../data/Olympics.xlsx")

In [37]:
mydata.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
1,16,Juhamatti Tapio Aaltonen,M,28,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
2,22,Andreea Aanei,F,22,170.0,125.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NaN
3,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
4,48,Abdelhak Aatakni,M,24,NaN,64.0,Morocco,MAR,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Welterweight,NaN

In [4]:
len(mydata)

35901

In [5]:
mydata.shape #to seerows and columns

(35901, 15)

In [6]:
mydata['Medal'].unique()

array([nan, 'Bronze', 'Gold', 'Silver'], dtype=object)

In [7]:
mydata.isna().sum() # to check missing cases

ID            0
Name          0
Sex           0
Age           0
Height      366
Weight      825
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     30820
dtype: int64

In [9]:
mydata['Weight'].isna().sum()

825

In [10]:
#replace missing values with overall mean
mydata['Weight']=mydata['Weight'].fillna(mydata['Weight'].mean())

In [11]:
mydata['Weight'].isna().sum()

0

In [13]:
mydata['Weight'].mode()

0    70.0
Name: Weight, dtype: float64

In [15]:
st.mode(mydata['Weight'])

70.0

In [16]:
#Replace the missing values based on the average of the groups in categorical variable
mydata['Height']=mydata['Height'].fillna(mydata.groupby('Sex')['Height'].transform('mean'))

In [17]:
mydata['Height'].isna().sum()

0

In [18]:
mydata['Medal']=mydata['Medal'].fillna("Unknown")

In [20]:
mydata['Medal'].isna().sum()

0

# Replace missing values at once

In [24]:
#Replace all numeric with overall mean
#since we are replacing only numeric data we don't have to say each variable name and can use below function.
mydata.fillna(mydata.mean(numeric_only=True).round(1), inplace=True)

In [23]:
mydata.isna().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [27]:
fill_values={'Weight': mydata['Weight'].mean().round(1), 'Height':st.mode(mydata['Height']), 'Medal': "Unknown"}

In [28]:
mydata=mydata.fillna(fill_values)

In [29]:
mydata.isna().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [30]:
categorical_columns=["Sex", "Medal"]
mydata[categorical_columns]=mydata[categorical_columns].fillna("Unknown")

In [31]:
mydata.isna().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [32]:
#Observation with Height >=190
mydata=mydata[mydata['Height']>=190]

In [33]:
mydata.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
12,62,Giovanni Abagnale,M,21,198.0,90.0,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
18,91,Emanuele Abate,M,27,190.0,80.0,Italy,ITA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 110 metres Hurdles,Unknown
38,161,Hossam Abdalla,M,28,203.0,97.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,Unknown
40,203,Ahmed Abdel Naeim,M,31,197.0,87.0,Egypt,EGY,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,Unknown
55,243,Ihab Abdelrahman El-Sayed Abdelrahman,M,23,194.0,96.0,Egypt,EGY,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Javelin Throw,Unknown

In [34]:
mydata['Height'].min()

190.0

In [35]:
len(mydata)

3870

In [38]:
#applying condition to filter the data by height and sex

mydata2=mydata[(mydata['Height']>=190)&(mydata['Sex']=='F')]

In [39]:
len(mydata2)

209

In [40]:
#second way to filter out condition by height and sex

conditions=(mydata['Height']>=190)&(mydata['Sex']=='F')
mydata3=mydata[conditions]

In [41]:
len(mydata2)

209

# Deleting columns

In [42]:
#deleting columns

del mydata['ID']

In [43]:
mydata.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
1,Juhamatti Tapio Aaltonen,M,28,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
2,Andreea Aanei,F,22,170.0,125.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NaN
3,Jamale (Djamel-) Aarrass (Ahrass-),M,30,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
4,Abdelhak Aatakni,M,24,NaN,64.0,Morocco,MAR,2012 Summer,2012,Summer,London,Boxing,Boxing Men's Light-Welterweight,NaN

In [44]:
mydata.columns

Index(['Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [50]:
#dropping columns Name and NOC
mydata=mydata.drop(columns=["Name", "NOC"])

In [46]:
#adding a new column to the dataframe
mydata['Weight.lb']=mydata['Weight']*2.2

In [ ]:
mydata.head()

In [52]:
mydata.to_excel("newOlympics.xlsx", index=False) #index is the id given my python which starts with 0

In [ ]:
n=input("Enter a number")

In [ ]:
print("the number entered is: ", n)